<!-- Start of header section
	============================================= -->
	<header id="ft-header" class="ft-header-section header-style-three">
		<div class="container">
			<div class="ft-header-content position-relative">
				<div class="ft-header-top d-flex justify-content-end ul-li">
					<ul>
						<li> <i class="far fa-envelope"></i> support@mamastops.com</li>
						<li><i class="fas fa-clock"></i>A108 Adam Street,India, IN 535022</li>
						<li><i class="fas fa-phone"></i> +260967295543</li>
					</ul>
				</div>
				<div class="ft-header-main-menu d-flex align-items-center justify-content-between">
					<div class="ft-brand-logo" style="width: 20%;">
						<a href="#"><img src="assets/img/logo/logo6.png" alt="" class="img-fluid "></a>
					</div>
					<div class="ft-header-main-menu-cta  d-flex align-items-center">
						<nav class="ft-main-navigation clearfix ul-li">
							<ul id="ft-main-nav" class="nav navbar-nav clearfix">
								<li><a href="/">Home</a></li>
								<li class="dropdown">
									<a href="!#">About</a>
									<ul class="dropdown-menu clearfix">
										<li><a routerLink="/about-us">About Us</a></li>
										<li><a routerLink="/team">Team</a></li>
									</ul>
								</li>
                                <li><a routerLink="/product">Product</a></li>
                                <li><a routerLink="/coreservice">Core Services</a></li>
                                <li><a routerLink="/contact-us">Contact Us</a></li>
							</ul>
						</nav>
						<div class="ft-header-cta-btn">
							<a class="d-flex justify-content-center align-items-center" routerLink="/contact-us">Get a quote now!</a>
						</div>
					</div>
				</div>
				<div class="mobile_menu position-relative">
					<div class="mobile_menu_button open_mobile_menu">
						<i class="fal fa-bars"></i>
					</div>
					<div class="mobile_menu_wrap">
						<div class="mobile_menu_overlay open_mobile_menu"></div>
						<div class="mobile_menu_content">
							<div class="mobile_menu_close open_mobile_menu">
								<i class="fal fa-times"></i>
							</div>
							<div class="m-brand-logo">
								<a href="!#"><img src="assets/img/logo/log.png" alt=""></a>
							</div>
							<nav class="mobile-main-navigation  clearfix ul-li">
								<ul id="m-main-nav" class="navbar-nav text-capitalize clearfix">
                                    <li><a href="/">Home</a></li>
                                    <li class="dropdown">
                                        <a href="!#">About</a>
                                        <ul class="dropdown-menu clearfix">
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="team.html">Team</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="">Product</a></li>
                                    <li><a href="">Core Services</a></li>
                                    <li><a href="">Contact Us</a></li>
								</ul>
							</nav>
						</div>
					</div>
					<!-- /Mobile-Menu -->
				</div>
			</div>
		</div>
	</header>
<!-- End of header section
	============================================= -->
