<!-- Start Of Footer section
	============================================= -->
	<footer id="pr-sv-footer" class="pr-sv-footer-section">
		<div class="container">
			<div class="pr-sv-footer-widget-wrap">
				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="pr-sv-footer-widget headline clearfix pera-content ul-li-block">
							<div class="pr-sv-about-widget">
								<h3 class="widget-title">
                                    Mamastops</h3>
								<p>Overall, the goal of the Mamastops website is to bring to the attention of potential clients about a company engaged in fleet GPS tracking, ERP, cashless services applications, and supply chain finance is to leverage technology and financial solutions.</p>
								
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="pr-sv-footer-widget headline clearfix pera-content ul-li-block">
							<div class="pr-sv-menu-widget">
								<h3 class="widget-title">Links</h3>
								<ul>
									<li><a routerLink="/">Home</a></li>
									<li><a routerLink="">About Us</a></li>
									<li><a routerLink="">Core Services</a></li>
									<li><a routerLink="">Product</a></li>
									
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="pr-sv-footer-widget headline clearfix pera-content ul-li-block">
							<div class="pr-sv-contact-widget">
								<h3 class="widget-title">Contact Info</h3>
								<ul>
									
                                    <li><i class="fas fa-phone"></i> <span> +260967295543</span>  </li>
									<li><i class="fas fa-envelope"></i> <span> support@mamastops.com  </span> </li>
									<li><i class="fas fa-map-marker-alt"></i> <span>A108 Adam Street,India, IN 535022
									</span></li>
								</ul>
							</div>
						</div>
					</div> 
                    <div class="col-lg-2 col-md-6">
						<div class="pr-sv-footer-widget headline clearfix pera-content ul-li-block"> 
							<div class="pr-sv-gallery-widget">
								<h3 class="widget-title">Social Link</h3>
                                <div class="social-link"> 
                                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>&nbsp;
                                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                                </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
        
	</footer>	
    <div class="ft-footer-copywrite-2 text-center">
        <span>Copyright <span style="color: #ea1e00;">Mamastops.</span>All Rights Reserved</span><br>
        Designed by <span style="color: #ea1e00;">Mamastops Team</span>
    </div>
<!-- End of Footer section -->
<div id="preloader"></div>
	<div class="up">
		<a href="#" class="scrollup text-center"><i class="fas fa-chevron-up"></i></a>
	</div>