
<!-- Start of Breadcrumb section
	============================================= -->
	<section id="ft-breadcrumb" class="ft-breadcrumb-section position-relative" data-background="assets/img/bg/bread-bg.jpg">
		<span class="background_overlay"></span>
		<span class="design-shape position-absolute"><img src="assets/img/shape/tmd-sh.png" alt=""></span>
		<div class="container">
			<div class="ft-breadcrumb-content headline text-center position-relative">
				<h2>Contact</h2>
				<div class="ft-breadcrumb-list ul-li">
					<ul>
						<li><a href="">Home</a></li>
						<li>Contact</li>
					</ul>
				</div>
			</div>
		</div>
	</section>	
<!-- End of Breadcrumb section
	============================================= -->
<!-- Start of Contact section
	============================================= -->
	<section id="ft-contact" class="ft-contact-section position-relative" data-background="assets/img/bg/c-bg.jpg">
		<div class="container">
			<div class="ft-contact-content">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="ft-section-title headline pera-content">
                            <span class="sub-title">Project Estimating</span>
                            <h2>Request A Quick Quotes
                            </h2>
                            <p>If you require any further information, please feel free to reach out to us. </p>
                        </div>
                        <div class="ft-contact-form-wrapper">
                            <form action="#">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" placeholder="Your Name Here">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="Subject">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="Your Email">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="Phone">
                                    </div>
                                    <div class="col-md-12">
                                        <textarea name="#" placeholder="Your Massage"></textarea>
                                    </div>
                                    <div class="col-md-12">
                                        <button class="ft-sb-button">Submit Now</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="ft-contact-page-contact-info">
                            <div class="ft-contact-cta-items d-flex">
                                <div class="ft-contact-cta-icon d-flex align-items-center justify-content-center">
                                    <i class="fal fa-map-marker-alt"></i>
                                </div>
                                <div class="ft-contact-cta-text headline pera-content">
                                    <h3>Office address</h3>
                                    <p>A108 Adam Street,India, IN 535022</p>
                                </div>
                            </div>
                            <div class="ft-contact-cta-items d-flex">
                                <div class="ft-contact-cta-icon d-flex align-items-center justify-content-center">
                                    <i class="fas fa-phone-alt"></i>
                                </div>
                                <div class="ft-contact-cta-text headline pera-content">
                                    <h3>Telephone number</h3>
                                    <p>+260967295543</p>
                                </div>
                            </div>
                            <div class="ft-contact-cta-items d-flex">
                                <div class="ft-contact-cta-icon d-flex align-items-center justify-content-center">
                                    <i class="far fa-envelope"></i>
                                </div>
                                <div class="ft-contact-cta-text headline pera-content">
                                    <h3>Mail address</h3>
                                    <p>support@mamastops.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				
			</div>
		</div>
	</section>
<!-- End of Contact section
	============================================= -->
