<!-- Start of Breadcrumb section
	============================================= -->
	<section id="ft-breadcrumb" class="ft-breadcrumb-section position-relative" data-background="assets/img/bg/bread-bg.jpg">
		<span class="background_overlay"></span>
		<span class="design-shape position-absolute"><img src="assets/img/shape/tmd-sh.png" alt=""></span>
		<div class="container">
			<div class="ft-breadcrumb-content headline text-center position-relative">
				<h2>Team</h2>
				<div class="ft-breadcrumb-list ul-li">
					<ul>
						<li><a href="">Home</a></li>
						<li>Team</li>
					</ul>
				</div>
			</div>
		</div>
	</section>	
<!-- End of Breadcrumb section
	============================================= -->
    <!-- <section class="py-5 container">
        <div data-aos="fade-up">
          <div class="section-header">
            <span>Product</span>
            <h2>Product</h2>
          </div>
        </div>
       
        <div class="card__collection clear-fix">
            <div class="cards cards--two">
                <img src="assets/img/p4.jpg" class="img-responsive" alt="Cards Image">
                <span class="cards--two__rect"></span>
                <span class="cards--two__tri"></span>
                <p>Cashless Facility</p>
                
            </div>
            <div class="cards cards--two">
              <img src="assets/img/p5.jpg" class="img-responsive" alt="Cards Image">
              <span class="cards--two__rect"></span>
              <span class="cards--two__tri"></span>
              <p>Tracking</p>
           </div>
           <div class="cards cards--two">
            <img src="assets/img/p2.jpg" class="img-responsive" alt="Cards Image">
            <span class="cards--two__rect"></span>
            <span class="cards--two__tri"></span>
            <p>ERP</p>
           </div>
           <div class="cards cards--two">
            <img src="assets/img/p6.jpg" class="img-responsive" alt="Cards Image">
            <span class="cards--two__rect"></span>
            <span class="cards--two__tri"></span>
            <p>Supplying chain <br>finance</p>
           </div>
            
          </div>
       </section> -->

<section  class="testimonials" style="background-image: url(../../assets/img/testimonial/1.jpg);background-position: center center;
background-size: cover;
position: relative;">
    <div class="container" >
        <div id="carouselExampleCaptions" class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 8"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="carousel-caption">
                <img src="assets/img/testimonial/hanumant.png">
                <div id="image-caption">Hanumant Shukla</div>
                <h4>CEO</h4>
               
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                  ><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                  ><i class="bi bi-star-fill"></i>
                <p>" With an educational background from IIT Kharagpur, including a
                  graduate degree and an MBA, Hanumant brings over 25 years of
                  experience in sales. He has held CXO positions in highly respected
                  companies such as Eveready, Coca Cola, Idea, and Vodafone.
                  Notably, as the Sales Director, he successfully established mobile
                  money distribution in Africa, specifically Zambia, achieving over
                  50 billion transactions within a span of two years. He is a
                  fitness fanatic and enjoys Yoga and evening walks."</p>
                
                
             </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-caption">
                <div class="carousel-caption">
                  <img src="assets/img/testimonial/tc.jpg">
                    <div id="image-caption">Ajit Sarangi</div>
                    <h4>Technology Consultant</h4>
                   
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                      ><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                      ><i class="bi bi-star-fill"></i>
                  
                  <p>" Mr Ajit Sarangi is a Post graduate of IIT Kharagpur. Who is a
                    veteran in blue chip companies worldwide like Infosys, HCL
                    technology, Polaris financial tech and is currently CTO at Writer
                    information. Before that he ran a technology service company for 4
                    years as owner. He is considered to be an expert in the technology
                    field in India and provides consultation to high value
                    institutions. "</p>
                    
               </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-caption">
                <div class="carousel-caption">
                  <img src="assets/img/testimonial/pc.png">
                    <div id="image-caption">Mintu Sherawat</div>
                    <h4>Product Consultant</h4>
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                      ><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                      ><i class="bi bi-star-fill"></i>
                  <p> "A Graduate & MBA from Business School (Vishva Vishwani Business
                    School) with 12 years of experience in Supply Chain management,
                    digital transformation & process consulting. "</p>
                
                    
               </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-caption">
                <div class="carousel-caption">
                  <img src="assets/img/testimonial/mo.png">
                    <div id="image-caption">Stephen Maimbika</div>
                    <h4>Operations Manager</h4>
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                      ><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                      ><i class="bi bi-star-fill"></i>
                  <p> "Thorough and meticulous Data Analyst passionate about helping
                    businesses succeed. Skilled in Business Intelligence, Microsoft
                    Excel, Analytics, Project Management, and Operations. Former sales
                    professional and recipient of an Honors degree focused in Applied
                    Economics from University of Namibia. He has close to a decade
                    experience in the Telecoms and Pay-tv industry."</p>
                
                    
               </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-caption">
                <div class="carousel-caption">
                  <img src="assets/img/testimonial/ms.png">
                  <div id="image-caption">Mark Mabuku</div>
                  <h4>Sales Manager</h4>
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i>
                  <p> "Experienced, Professional and self motivated sales manager with
                    over 7 years of industry experience. Skilled in building revenue.
                    He is a strong Leader with the ability to increase sales and
                    develop strategies to retain customers. Former sales manager and
                    Holder of a degree in business from City University."</p>
                
                   
               </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-caption">
                <div class="carousel-caption">
                  <img src="assets/img/testimonial/pmi.png">
                  <div id="image-caption">Shree Harsha Kodi</div>
                  <h4>Product Management Intern</h4>
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i>
                  <p> "A Fourth-year undergraduate student from the Department of
                    Aerospace Engineering at IIT Kharagpur. Shree Harsha has vast
                    experience in trajectory simulation, algorithm optimization, and
                    IoT device design. Her academic journey includes notable
                    achievements such as scholarships and top rankings in national
                    exams and competitions. She enjoys extracurricular activities like
                    cricket, mentoring, volunteering, and music, demonstrating a
                    well-rounded profile."</p>
                
                   
               </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-caption">
                <div class="carousel-caption">
                  <img src="assets/img/testimonial/amts.png">
                  <div id="image-caption">Levy Kalande</div>
                  <h4>Assistant Manager - Technical Sales</h4>
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i>
                  <p> "Levy Kalande is a highly skilled engineering professional with a
                    diverse background in logistics, telecommunications, and
                    telematics systems. With a Bachelor's degree in Engineering and a
                    passion for problem-solving, Levy has excelled in various
                    technical roles throughout his career. His expertise in logistics
                    includes optimizing supply chain operations, implementing
                    innovative solutions, and reducing costs. Additionally, his
                    proficiency in telematics systems has facilitated real-time
                    monitoring, data collection, and remote diagnostics, enhancing
                    operational efficiency and safety across industries. With strong
                    analytical and collaboration skills, Levy is known for his ability
                    to drive innovation and deliver impactful solutions."</p>
                
               </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-caption">
                <div class="carousel-caption">
                  <img src="assets/img/testimonial/ams.png">
                  <div id="image-caption">Nature Chikuwa</div>
                  <h4>Assistant Manager- Sales</h4>
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i>
                  <p> "Accomplished Sales and
                    Customer Service Manager with over 10 years of comprehensive
                    experience In the banking industry, 5 year comprehensive
                    experience in Cash Management, ATM Management, Cashiering and
                    process formulation. Degree in Marketing, BA Diploma, pursuing
                    Management Accounting (CIMA) at ZCAS."</p>
                
                   
               </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
</section>